body{
    background-color: black;
}

h2, h5 {
    color: white;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#movieBox{
    text-align: center;
    margin-top: 300px;
    border: white 1px solid;
    border-radius: 3%;
    width: 40%;
    padding-bottom: 20px;
}